* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #F8F9FC;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

/* font-family: 'Satoshi',
sans-serif; */
/* font-family: 'Clash Grotesk',
sans-serif; */