html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #F8F9FC;
}

body {
  background: var(--main-bg-color);
}

main {
  max-width: 2000px;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

li,
button {
  cursor: pointer;
}

p {
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Clash Grotesk', sans-serif;
}

li,
a,
p,
blockquote,
button,
span {
  font-family: 'Satoshi', sans-serif;
}

button:hover {
  transform: scale(1.05);
  transition: all .3s ease;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 600;
  color: #000F24;
  position: relative;
}

.loader {
  min-height: 100vh;
  background-color: #004DB3;
  display: flex;
  justify-content: center;
  align-items: center;
}